.hero {
    padding-top: 115px;

    &-item {
        position: relative;
        
        &-img {
            width: 100%;
            height: 460px;
            object-fit: cover;
        }
    }

    &-item-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1200px;
        padding: 0 20px;

        &-text,
        &-title {
            font-size: 36px;
            font-weight: 500;
            line-height: 48px;
            color: #4462a6;
            text-wrap: nowrap;
            text-align: left;
        }

        &-title-big {
            font-size: 64px;
            font-weight: 700;
            color: #E41B13;
            line-height: 72px;
            padding-bottom: 10px;
            text-align: left;
        }

        &-text {
            color: #ffff01;
        }
    }
}