.hero {
    padding-top: 115px;

    &-item {
        position: relative;

        &-img {
            width: 100%;
            height: 520px;
            object-fit: cover;
        }
    }

    &-item-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        // padding: 0 20px;

        &-text,
        &-title {
            font-size: 36px;
            font-weight: 500;
            line-height: 48px;
            color: #4462a6;
            text-align: left;
        }

        &-title-big {
            font-size: 64px;
            font-weight: 700;
            color: #E41B13;
            line-height: 72px;
            padding-bottom: 10px;
            text-align: left;
        }

        &-text {
            color: #ffff01;
        }
    }

    @media (max-width:900px) {
        &-item-info-title-big {
            font-size: 40px;
            line-height: 44px;
        }

        &-item-info-title {
            font-size: 20px;
            line-height: 24px;
        }

        &-item-info-text {
          font-size: 24px;
          line-height: 34px;
        }
    }



    @media (max-width:800px) {
        padding-top: 77px;
    }

    @media (max-width:500px) {
        &-item-info {
          width: 90%;
          padding: 0px;
        }
    }

    @media (max-width:400px) {
        &-item-info-title-big {
            font-size: 30px;
            line-height: 34px;
        }

        &-item-info-title {
            font-size: 18px;
            line-height: 22px;
        }

        &-item-info-text {
          font-size: 18px;
          line-height: 24px;
        }
    }
}