.footer {
    background-color: #FBCE07;
    padding: 40px 0px;

    &-line {
        border: 0.5px solid rgb(237, 236, 236);
    }

    &-bottom {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 10px;

        &-right,
        &-left {
            padding: 40px 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            img {
                width: 170px;
                object-fit: contain;
            }
            
            &-title {
                font-size: 18px;
                font-weight: 400;
                color: #3c3c3c;
                padding-top: 20px;
            }
        }
    }

    @media (max-width:460px) {
        &-bottom {
           flex-direction: column;
        }

        &-bottom-left {
           padding: 20px 0px;
        }

        &-bottom-left-title {
           padding-top: 10px;
        }

        &-bottom-right {
           padding: 0px;
        }
    }
}