.news {
    padding: 25px;

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
            font-size: 46px;
            font-weight: 600;
            color: #E8A901;
        }

        &-text {
            font-size: 24px;
            font-weight: 300;
            color: #111333;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding-top: 40px;
    }

    &-card {
        border: 1px dotted rgba(50, 50, 50, 0.267);
        cursor: pointer;

        &-img {
            img {
                width: 100%;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 20px;

            &-title {
                font-size: 20px;
                font-weight: 400;
                color: #111333;
                line-height: 28px;
            }

            &-text {
                font-size: 16px;
                font-weight: 400;
                color: #535353;
                line-height: 24px;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-desc {
                font-size: 18px;
                font-weight: 400;
                color: #535353;
                line-height: 28px;
                padding-bottom: 30px;
            }
        }
    }

    &-card:hover {
        box-shadow: 1px 1px 10px #aaa6;
        border: 1px solid rgba(50, 50, 50, 0.267);
        transition: .6s;
        border-radius: 4px;
        overflow: hidden;
    }
}